body {
	font-family: monospace;
}
#hidden {
	display: none;
}

.expandable {
	visibility: collapse;
	background: gray;
	color: white;
}

#condition {
	display: inline-block;
	margin-top: 12px;
	padding: 6px 12px;
	background-color: #ff8888;
	border: 1px solid;
	border-radius: 3px;
	transition: 0.15s
}

#condition:hover {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
    -moz-box-shadow:  0px 0px 25px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
}

#condition::before {
	content: "Mostra";
}

#hidden:checked ~ * .expandable {
	visibility: visible;
}

#hidden:checked ~ #condition {
	background-color: #88ff88;
}



#hidden:checked ~ #condition::before {
	content: "Nascondi";
}