
body {
    height: 100vh;

}

aside {
    box-sizing:border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100%;
    background-color:rgb(111, 211, 29);
}

nav {
    height: 100%;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

nav li:hover{
    background-color: #2b2bb2;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav li {
    background-color: #2b2b2b ;
    padding: 10px;
    margin: 10px;
    transition: all 0.3s ease;
}

aside img {
    display: block;
    margin: auto;
}

.logo_flexbox img {
    width: 100%;
}

.profilo_flexbox img {
    width: 70%;
}

.profilo_flexbox {
    align-self: center;
    text-align: center;
}

.character{
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 6px solid white;
    align-items: center;
    margin: 10px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: rgb(19, 155, 98);
    background: linear-gradient(140deg, rgb(146, 66, 161) 0%, rgb(26, 124, 156) 100%);
}

