body {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
  }
  #yellow {
    grid-column-start: 1 ;
    grid-column-end: 4;
    grid-row-start: 1 ;
    grid-row-end: 2;

  }
  #yellow ul{
      display: flex;
  }
  #yellow ul li{
    width: 20%;
  }
  #yellow ul li:first-child{
      width: 35%;
  }
  #blue {
    grid-column-start: 1 ;
    grid-column-end: 2;
    grid-row-start: 2 ;
    grid-row-end: 5;
  }
  #orange {
    grid-column-start: 2 ;
    grid-column-end: 4;
    grid-row-start: 2 ;
    grid-row-end: 3;
  }
  #red {
    grid-column-start: 2 ;
    grid-column-end: 4;
    grid-row-start: 3 ;
    grid-row-end: 4;
  }
  #red ul{
    display: flex;
}
#red ul li{
    width: 24%;
  }
  #green {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }